* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration-line: underline;
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "LEMON MILK";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  text-align: justify;

  background-color: black;
  height: 10vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.imgbr {
  max-width: 35px;
  max-height: 35px;
  width: auto;
  height: auto;
  align-items: center;
  position: absolute;
  top: 28px;
  left: 200px;
}

ul li {
  display: inline-block;
  padding: 10px 10px;
}

main {
  background-image: url("../imgs/red-PB_00000.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 120vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mapa iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 250px;
  border-width: 0%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}

.footer {
  border-top: 50px solid #000000;
}

/* copyright */

.footer .copyright {
  padding: 1.5rem;
  font-size: 1rem;
  background-color: #000000;
  font-family: "Geomatrix";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.imgiconsp {
  max-width: 57px;
  max-height: 57px;
  width: auto;
  height: auto;
  align-items: center;
  position: absolute;
  top: 1477px;
  left: 845px;
}

.imgiconsp:hover {
  opacity: 60%;
  transition: 0.5s;
}
.imgicontt:hover {
  opacity: 60%;
  transition: 0.5s;
}

.imgiconinst:hover {
  opacity: 60%;
  transition: 0.5s;
}

.imgicontt {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  align-items: center;
  position: absolute;
  top: 1485px;
  left: 900px;
}

.imgiconinst {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  align-items: center;
  position: absolute;
  top: 1485px;
  left: 950px;
}
