@font-face {
  font-family: "Geomatrix";
  src: url(./fonts/Geomatrix.ttf);
}
@font-face {
  font-family: "LEMON MILK";
  src: url(./fonts/LEMONMILK-Regular.otf);
}
body {
  margin: 0;
  background-color: rgb(17, 17, 17);
}

header {
  height: 0;
  background-image: url(imgs/cover_00000.png);
  background-size: cover;
  padding-bottom: 56.25%;

  box-shadow: inset 0px -20px 42px 42px rgb(17, 17, 17);
}

header nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

header nav li {
  padding: 0 20px;
  font-family: "Geomatrix";

  color: #e0e0ea;
}

header nav li a {
  padding: 0px;
  color: #e0e0ea;
}

a,
a:visited {
  text-decoration: none;
}

header nav li a:hover {
  text-decoration: underline;
}

.item_menu:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.info {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;

  box-shadow: inset 0px 22px 64px 128px rgb(17, 17, 17),
    0 -15px 26px 0px rgb(17, 17, 17);
  background-image: url(imgs/tentativa-fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.info h2 {
  flex-basis: 100%;

  font-family: "LEMON MILK";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 148.2%;
  /* or 47px */
  letter-spacing: 0.065em;
  color: #ffffff;
}

.info section {
  padding: 30px;
}

.info section h3 {
  font-family: "LEMON MILK";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 148.2%;
  /* identical to box height, or 30px */

  letter-spacing: 0.065em;

  color: #ffffff;
}

.info section p {
  font-family: "Geomatrix";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 148.2%;
  /* identical to box height, or 24px */

  letter-spacing: 0.065em;

  color: #ffffff;
}

.info section img {
  filter: drop-shadow(2px 5px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.5s;
  will-change: scale;
}

.info section img:hover {
  transform: scale(1.1);
}

/*imagem central*/
.img-central {
  background-image: url(imgs/2_00000.png);
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;

  box-shadow: inset 0px 118px 42px -47px rgb(17, 17, 17),
    inset 0px -132px 42px -47px rgb(17, 17, 17);
}

.compre_ingresso {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: inset 0px 20px 337px 14px rgb(17, 17, 17);
}

.compre_ingresso h1 {
  font-family: "LEMON MILK";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 148.2%;
  /* or 47px */

  letter-spacing: 0.065em;

  color: #ffffff;
}

.compre_ingresso p {
  font-family: "Geomatrix";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 148.2%;
  /* or 36px */

  text-align: center;
  letter-spacing: 0.065em;

  color: #ffffff;

  width: 50%;
}

.estados {
  background-image: url(imgs/tentativa-fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mapa {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: baseline;
  height: 775px;

  box-shadow: inset 0px -10px 71px 14px rgb(17, 17, 17);
}

.br {
  position: absolute;
  /* width: 773px;
    height: 682px; */

  background: url(file-removebg-preview.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Vector 7 */
.ba {
  position: relative;
  width: 147.63px;
  height: 164.5px;
  left: -21px;
  top: 241px;
}

/* Vector 5 */
.pe {
  position: relative;
  width: 102px;
  height: 36px;
  top: 93px;
  left: 234px;
}

/* Vector 4 */
.rj {
  position: relative;
  width: 60px;
  height: 36px;
  top: 321px;
  left: 235px;
}

/* Vector 3 */
.sp {
  position: relative;
  width: 143px;
  height: 91.5px;
  top: 359px;
  left: 242px;
}

.a-estados:hover {
  opacity: 0.65;
  transform: scale(1.005);
  transition: 0.3s;
}

/* Vector 6 */
.pb {
  position: relative;
  width: 64px;
  height: 36px;
  top: 71px;
  left: 173px;
}

.img-tripla {
  /* display: grid; */
  background-image: url(imgs/img-tripla.png);
  background-size: cover;
  display: flex;
  height: 0;
  padding-bottom: 46.740638002773925104022191400832%;

  box-shadow: inset 0px 100px 42px -47px rgb(17, 17, 17);
}

/* .img-tripla > div {
    display: grid;
  
  } */

/* .img-tripla img {
    height: 810px;
  }
  
  .img-final-1 {
    grid-column: 1 / 2;
  }
  .img-final-2 {
    grid-column: 2 / 3;
  }
  .img-final-3 {
    grid-column: 3 / 4;
  } */

.footer {
  border-top: 1px solid black;
  margin: 0;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
}

.footer .icones {
  display: flex;
  padding-top: 20px;
}

.footer .icones img {
  padding: 10px;
}

.footer .icones a {
  transition: transform 0.5s;
  will-change: scale;
}

.footer .icones a:hover {
  transform: scale(1.1);
}

.footer .copyright {
  padding: 2rem;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Geomatrix";
  text-align: center;
  color: #fff;
  padding-top: 1rem;
}

@media (max-width: 670px) {
  .mapa {
    height: 400px;
  }

  .mapa .sp {
    position: relative;
    top: 163px;
    left: 89px;
  }
  .mapa .rj {
    position: relative;
    top: 146px;
    left: 86px;
  }
  .mapa .pe {
    position: relative;
    top: 43px;
    left: 84px;
  }
  .mapa .pb {
    position: relative;
    top: 35px;
    left: 56px;
  }
  .mapa .ba {
    position: relative;
    top: 110px;
    left: -34px;
  }

  header nav li {
    padding: 0 8px;
  }

  .info h2 {
    font-size: 18px;
  }

  .info section h3 {
    font-size: 16px;
  }

  .compre_ingresso h1 {
    font-size: 18px;
  }

  .compre_ingresso p {
    font-size: 16px;
  }
}
