@font-face {
  font-family: "Geomatrix";
  src: url(../fonts/Geomatrix.ttf);
}
@font-face {
  font-family: "LEMON MILK";
  src: url(../fonts/LEMONMILK-Regular.otf);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

nav {
  background-color: #000000;
  position: fixed;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  top: 0;
}

h1,
p {
  color: #fff;
}

.container-logo {
  display: flex;
}

.logo {
  display: flex;
  height: 60px;
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 20px;
  font-family: "Geomatrix";
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

a:hover,
button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.item_menu:hover {
  color: #565656;
}

.content {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

#redpb {
  background-image: url(../imgs/gradientepb_00000.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: fit-content;
}

.info-show h1 {
  font-family: "LEMON MILK";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  color: #fff;

  flex-basis: 100%;
  text-align: center;
}

.info-show p {
  font-family: "Geomatrix";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 148.2%;

  text-align: center;
  letter-spacing: 0.065em;

  color: #ffffff;
  margin: 0;
}

.info-show section {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  width: calc(100% / 5);
  height: fit-content;
  align-items: center;
}

.info-show {
  top: 120px;
  display: flex;
  flex-flow: wrap;
  text-align: center;

  justify-content: space-around;

  align-items: flex-start;
}

/*.info-show img {
  height: 166px;
  width:166px;
}*/

a {
  color: #ffffff;
}
button:hover {
  color: rgba(65, 80, 101, 0.46);
}
.leia:hover {
  background: rgb(255, 255, 255);
  color: rgba(65, 80, 101, 0.46);
}
.voltar:hover {
  color: rgb(255, 255, 255);
  background: rgba(65, 80, 101, 0.46);
}

.voltar {
  /*position: absolute;
left: 75%;
top: 200%;
bottom: 16.67%;*/
  padding: 30px 60px;

  font-family: "Geomatrix";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 3px;
  text-align: justify;

  color: #000000;
  background: rgba(247, 247, 247, 0.46);
  border-radius: 5px;

  width: fit-content;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

.content a:visited {
  text-decoration: none;
  color: inherit;
}

.footer {
  border-top: 1px solid black;
  margin: 0;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
}

.footer .icones {
  display: flex;
  padding-top: 20px;
}

.footer .icones img {
  padding: 10px;
}

.footer .icones a {
  transition: transform 0.5s;
  will-change: scale;
}

.footer .icones a:hover {
  transform: scale(1.1);
}

.footer .copyright {
  padding: 2rem;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Geomatrix";
  text-align: center;
  color: #fff;
  padding-top: 1rem;
}

@media (max-width: 300px) {
  nav,
  ul {
    flex-direction: row;
  }

  ul {
    text-align: center;
    margin: 0;
    height: 0;
  }

  nav {
    align-items: flex-start;
  }

  h1 {
    margin: 10px;
  }

  button {
    display: flex;
  }

  li,
  ul {
    width: 100%;
  }

  ul.responsivo {
    height: 260px;
  }
}

@media (max-width: 546px) {
  nav ul {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0;
  }

  nav ul li {
    padding: 10px 10px 0 8px;
  }

  p {
    margin: 0 0 8px 0;
  }

  .info-show h1 {
    font-size: 32px;
    padding-top: 60px;
  }
}

@media (max-width: 713px) {
  .container-logo {
    padding: 20px 0 0 0;
  }

  nav,
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 840px) {
  .info-show section {
    width: calc(100% / 3);
  }
}

@media (max-width: 500px) {
  .info-show section {
    width: calc(100% / 2);
  }
}
